################################################################################
#
# Git ignore list
#
################################################################################

# Directories
vendor/
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/

# Files
*.log
sitemap.xml
sitemap.xml.gz
wp-config.php
wp-content/advanced-cache.php
wp-content/wp-cache-config.php

# System
.DS_Store
.htaccess
Thumbs.db
